body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  background: white;
  width: 700px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

h3 {
  margin: 15px 0 10px;
  font-size: 16px;
  border-left: 4px solid #25232cff;
  padding-left: 8px;
}

.form-row {
  display: flex;
  margin-bottom: 8px;
  gap: 30px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
  margin-bottom: 3px;
  font-weight: bold;
}

input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  width: 100%;
}

input[type="file"] {
  border: none;
  font-size: 13px;
}

button {
  display: block;
  margin: 18px auto 0;
  background: #25232cff;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}
.photo {
  max-width: 200px;
}
